<div class="container col-4 offset-4">
  <h1>Edit Booking</h1>
  <%if current_user == @booking.user%>
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :number_of_people %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  <% elsif current_user == @booking.meal.user %>
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :status, collection: %w[confirmed declined] %>
      <%= f.submit "Submit", class: "btn btn-primary mb-3" %>
    <% end %>
  <% end %>
  <%= link_to 'Back to my Kitchen', dashboard_path %>
</div>
