<h1>All your Bookings</h1>

<ul>
<% @bookings.each do |booking| %>
<li>**********************</li>
<li><%= booking.date %></li>
<li><%= booking.number_of_persons %></li>
<li><%= booking.meal.name %></li>
<li><%= booking.meal.description %></li>
<li><%= booking.user.first_name %></li>
<li><%= booking.user.last_name %></li>
<li><%= booking.user.last_name %></li>
<li> Confirmed : <%= booking.confirmed %></li>
<% end %>
</ul>
