<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= simple_form_for [@meal, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :number_of_persons %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back home', bookings_path %>
