<div class="container">
  <h1>My Kitchen</h1>
  <div class="container mt-3">
    <h2>My Bookings</h2>
    <div class="bookings d-flex justify-content-between">
      <div class="pending col-4 px-2">
        <h3 class="text-center">Pending Orders : <%= @bookings.where(status: "pending").count %></h3>
        <div class="row">
          <% @bookings.each do |booking| %>
            <% if booking.status == "pending" %>
              <%= render "bookings/card", booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
        <div class="confirmed col-4 px-2">
          <h3 class="text-center">Confirmed Orders : <%= @bookings.where(status: "confirmed").count %> </h3>
          <div class="row">
            <% @bookings.each do |booking| %>
              <% if booking.status == "confirmed" %>
                <%= render "bookings/card", booking: booking %>
              <% end %>
            <% end %>
          </div>
        </div>
      <div class="past col-4 px-2">
        <h3 class="text-center">Past Orders : <%= @bookings.where('date > ?', DateTime.now).count %> </h3>
        <div class="row">
            <% @bookings.each do |booking| %>
              <% if booking.date < DateTime.now %>
                <%= render "bookings/card", booking: booking %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center col-4">
        <h2>My Meals</h2>
        <%= link_to "Create New", new_meal_path, class:"btn-sign-up"  %>
      </div>
      <div class="row">
        <% @meals.each do |meal| %>
            <%= render "meals/card", meal: meal %>
        <% end %>
      </div>
    </div>
  </div>
</div>
