
    <div class="card-product">
      <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-details">
      <div class="title d-flex justify-content-between align-items-center mt-4 mb-2">
        <%= link_to meal.name, meal_path(meal), class: "title-link" %>
        <% if user_signed_in? %>

          <% if meal.user == current_user || current_user.admin? %>
              <%= link_to ('<i class="fa-regular fa-pen-to-square"></i>').html_safe, edit_meal_path(meal), class: 'text-secondary fs-4 p-2' %>
              <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, meal_path(meal), class: 'text-danger fs-4 p-2', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% else %>
          <%= link_to ('Book').html_safe, meal_path(meal), class: 'btn-book' %>
          <% end %>
        <% end %>
      </div>
        <p class="category"><%= meal.user.address %> </p>
        <p class="description"> <%= meal.description %> </p>
        <p class="category"> <%= meal.category %> </p>
      </div>
      <div class="card-price mb-2">
        <p>€ <%= meal.price_per_person %> per person</p>
        <p><%= meal.max_person %> <i class="fa-solid fa-person"></i> Max.</p>
      </div>
    </div>
