<div class="col-sm-4">
    <div class="card-product">

      <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-details">
      <div class="title d-flex justify-content-between align-items-center mt-4">
        <%= link_to meal.name, meal_path(meal), class: "title-link" %>
        <% if meal.user == current_user %>
            <%= link_to ('<i class="fa-regular fa-pen-to-square"></i>').html_safe, edit_meal_path(meal), class: 'text-secondary fs-4 p-2' %>
            <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, meal_path(meal), class: 'text-danger fs-4 p-2', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
      </div>
        <p> <%= truncate(meal.description, length: 62) %> <%= link_to "See more", meal_path(meal), class:"fst-italic text-warning"%> </p>
        <p class="category"> <%= meal.category %> </p>
      </div>
      <div class="card-price mb-2">
        <p>€ <%= meal.price_per_person %> per person</p>
        <p><%= meal.max_person %> <i class="fa-solid fa-person"></i></p>
      </div>
      <% unless policy(meal).edit? %>
      <a href="<%= new_meal_booking_path(meal) %>" class="card-button"> BOOK </a>
      <% end %>
    </div>
</div>
