<%= simple_form_for meal, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name, label: "Name", placeholder: "Enter a name for your meal" %>
  <%= f.input :description, label: "Description", placeholder: "Enter a description for your meal" %>
  <label for="vegetarian">Vegetarian:</label>
  <%= f.check_box :vegetarian, id: "Vegetarian", label: "vegetarian" %>
  <%= f.input :category, label: "Category", placeholder: "Enter a category" %>
  <%= f.input :price_per_person, label: "Price per person", placeholder: "Enter a price per person" %>
  <%= f.input :max_person, label: "Number of servings", placeholder: "Enter the number of servings" %>

  <div class="form-group">
    <%= f.button :submit, class: "btn-submit" %>
  </div>
<% end %>
