<div class="container my-4">
  <h1 class="title-show">Details Of The Meal</h1>

  <div class="cards-booking">
      <%= render "card", meal: @meal %>
        <div class="card-booking">
          <h4 class="title-order-orange">Order this meal</h4>
          <%= simple_form_for [@meal, @booking] do |f| %>
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :number_of_people %>
          <%= f.submit "SUBMIT", class: "btn-order" %>
          <% end %>
        </div>
  </div>
</div>
